body {
    background-image: url(../images/darkness.png);
    color: white;
}
h1 {
font-family: 'Rock Salt', cursive;
text-align: center;
margin-top: 50px;
font-size: 62px;
margin-bottom: 70px;
}
h3 {
    text-align: center;
    margin-top: 20px;
}

h5 {
    margin-left: 20px;
    margin-top: 20px;
}
.custom-control {
    margin-left: 20px;
    margin-top: 40px;
}